header{
    width: 100%;
    position: fixed;
    z-index: 101;
}

nav{
    color: black!important;
}

.shrink {
    background-color: rgb(255,255,255, 80%) !important;
    color: black!important;
}

.shrink a{
    color: black!important;
}

body {
    margin: 0;
    width: 100%;
    padding: 0px;
}

div {
    margin: 0;
    padding: 0px;
}

.container {
    margin: 0;
    padding: 0px;
    max-width: 100% !important;
}

.controls {
    padding-top: 5%;
    display: flex;
    margin-left: 17rem;
}

.bg-light {
    background-color: transparent !important;
}

.nav-link{
    color: white!important;
}

section select{
    margin: 10px;
}
            